body {
    background-color: green;
}

h1 {
    color: black;
    background-color: rgb(21, 196, 18);
}

#show_sketch {
    float: left;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 5px 5px 38px rgb(40, 50, 164);
    }
    to {
        box-shadow: 5px 5px 38px rgba(130, 210, 83, 0.589);
    }
}

p {
    font-size: 25px;
}